<template>
  <div class="Genereqrcode">
  <GenererQrCode description="Cliquez sur le bouton pour générer votre QR Code"> </GenererQrCode>
  </div>
</template>

<script>
import GenererQrCode from './components/GenererQrCode.vue'

export default {
  name: 'App',
  components: {
    GenererQrCode,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
