<template>

    <button :type="type" :class="mode"> 
        <slot></slot>
    </button>

</template>

<script>
export default {
    props: ['type', 'mode']
}
</script>

<style scoped>

button {
  padding: 1rem 1.8rem;
  font-family: inherit;
  background-color: #FF9B05;
  border: 1px solid #FF9B05;
  color: white;
  cursor: pointer;
  border-radius: 25px;
}

button:hover,
button:active {
  background-color: #FF9B05;
  border-color: #FF9B05;
}

.flat {
  background-color: #3DBCF9;
  color: white;
  border: none;
}

.flat:hover,
.flat:active {
  background-color: #f91827;
}

</style>
