<template>
    <div class="messagereussite" v-if="revele">
        <div class="overlay"></div>
        <div class="modale">
        <div class="btn-modale"> X </div>
        <h1> Bravo ! </h1>
        <p> Votre Qr Code a bien été téléchargé ! </p>
        </div>
    </div>   
</template>

<script>

export default {
    name: 'Modale',
}
</script>

<style scoped>

.messagereussite {

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.overlay {

    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
}

.modale {

    background: #f1f1f1;
    color: #333;
    padding: 50px;
    position: fixed;
    top: 300px;

}

.btn-modale {

    position: absolute;
    top: 10px;
    right: 10px;

}

</style>
